services:
  superset_db:
    image: postgres:15
    container_name: superset_db
    restart: always
    env_file:
      - ../.env
    environment:
      - POSTGRES_DB=superset
      - POSTGRES_USER=${SUPERSET_POSTGRES_USER:-superset}
      - POSTGRES_PASSWORD=${SUPERSET_POSTGRES_PASSWORD:-superset}
    volumes:
      - superset_db:/var/lib/postgresql/data
    networks:
      - superset_net
      - bike_share_net

  superset:
      build:
        context: .
        dockerfile: Dockerfile
      container_name: superset
      restart: always
      ports:
        - "8088:8088"
      env_file:
        - ../.env
      environment:
        - SUPERSET_SECRET_KEY=${SUPERSET_SECRET_KEY:-CHANGE_ME_TO_A_RANDOM_SECRET_KEY}
        - SQLALCHEMY_DATABASE_URI=postgresql://${SUPERSET_POSTGRES_USER:-superset}:${SUPERSET_POSTGRES_PASSWORD:-superset}@superset_db:5432/superset
        - SUPERSET_LOAD_EXAMPLES=no
        - MAPBOX_API_KEY=${MAPBOX_API_KEY:-}
      depends_on:
        - superset_db
      networks:
        - superset_net
        - bike_share_net

networks:
  superset_net:
    driver: bridge
  bike_share_net:
    external: true
    name: bike-share-de-project_default  # Main docker-compose network

volumes:
  superset_db:

